培养自己能力要养成习惯，不应去搜答案，可查找所需函数或方法。

提交日期：2022-10-14日前
作业提交方式：学习通上传
以姓名、学号命名

# <center>基础知识练习<center>

## （1）定义一个元组t1=(1,2,'R','py','Matlab')和一个空列表

In [9]:
t1=(1,2,'R','py','Matlab')
list1=[]
print(t1)
print(list1)

(1, 2, 'R', 'py', 'Matlab')
[]

## （2）向list1中添加t1的元素

In [10]:
t = 0
while t<len(t1):
    list1.append(t1[t]) #代码补充完整
    t=t+1
print(list1)

[1, 2, 'R', 'py', 'Matlab']

# <center>Pandas练习<center>

## 要求：读取文件test.xlxs数据并用一个数据框变量df来保存，并显示前10行

In [11]:
import pandas as pd
#读取数据
df = pd.read_excel('D:/Hanyu/金融挖掘/test2.xlsx')
df.head(10)

     股票代码       交易日期    收盘价       交易量
0  600000 2017-01-03  16.30  16237125
1  600000 2017-01-04  16.33  29658734
2  600000 2017-01-05  16.30  26437646
3  600000 2017-01-06  16.18  17195598
4  600000 2017-01-09  16.20  14908745
5  600000 2017-01-10  16.19   7996756
6  600000 2017-01-11  16.16   9193332
7  600000 2017-01-12  16.12   8296150
8  600000 2017-01-13  16.27  19034143
9  600000 2017-01-16  16.56  53304724

## 对df第3、4列进行切片，切片后为一个新的数据框记为df1

In [12]:
df1=df.loc[:,['收盘价','交易量']]#或者df.iloc[:,[2,3]]
df1.head(10)

     收盘价       交易量
0  16.30  16237125
1  16.33  29658734
2  16.30  26437646
3  16.18  17195598
4  16.20  14908745
5  16.19   7996756
6  16.16   9193332
7  16.12   8296150
8  16.27  19034143
9  16.56  53304724

## 基于df第2列，构造一个逻辑数组TF，即满足交易日期小于等于2017-01-16且大于等于2017-01-05为真，否则为假。

In [13]:
import datetime as dt
# 引入日期模块

# 转换交易日期字段类型
df['交易日期'] = pd.to_datetime(df['交易日期'])

# 开始日期
st_date = pd.datetime(2017,1,5)
# 结束日期
nd_date = pd.datetime(2017,1,16)

# 筛选数据
TF=(df['交易日期'] >= st_date) &(df['交易日期'] <= nd_date)
TF

0     False
1     False
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10    False
11    False
12    False
13    False
Name: 交易日期, dtype: bool

In [ ]:
S=df.loc[TF,'交易量'].sum()
S